


/* -------------- General -------------- */

/*labels alignment*/
label {
    display: inline-block;
    width: 10%;
    text-align: left;
}

/*inputs fields design*/
input {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}

/*buttons class design*/
.button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: royalblue;
}

/*screen adjustments*/
@media only screen and (max-width: 601px) {

    input,
    label {
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
}

/*...................................... */




/* -------------- Sign Up -------------- */

/*error message in sign up form in red*/
#errorMessage {
    color: red;
}

/*align sign up form to center*/
#signUpDiv {
    text-align: center;
}

/*birtdate input in sign up form alignment*/
.dateField {
    width: 160px;
    text-align: center;
}

/*...................................... */



/* -------------- Sign Up -------------- */

#logInDiv {
    text-align: center;
}
/*..................personal zone................. */

.circleBase{
    border: 1px solid black;
    border-radius: 50%;
    padding: 15px;
    height: 110px;
    width: 110px;
    overflow: hidden; 
    margin: 10px auto;
    
}

#personalZonePage{
    display: grid;
    grid-template-areas:'Header1 Main Header2' 
                        'Buttom Buttom Buttom' 
                        'Buttom Buttom Buttom';
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#points{
    grid-area: Header1;
    margin-top: 25%;
    text-align: center;
    font-size: 40px;
}
#pointsText{
    grid-area: Header1;
    margin-top: 15%;
    text-align: center;
}

#welcomeZone{
grid-area: Main;
padding:20px;
text-align: center;
font-size: 20px;
margin: 30px auto;
}

#birthday{
    grid-area: Header2;
    margin-top: 25%;
    text-align: center;
    font-size: 40px;
}
#birthdayText{
    grid-area: Header2;
    margin-top: 5%;
    text-align: center;
}

#history{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
#historyBox{
    height: 500px;
    grid-area: Buttom;
    border: 5px solid black;
    overflow: scroll;
    margin: 20px;
    
}


@media only screen and (max-width: 500px) {
    #personalZonePage{
        display: grid;
        grid-template-areas: 'Main' 
                             'Header1' 
                             'Header2'
                             'Buttom';
    }
}




/* -------------- Gallery -------------- */

#galleryDiv{
    text-align: center;
}


/*gallery class design*/
.galleryImage {
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 350px;
    height: 300px;
}

.galleryImage:hover {
    border: 2px solid #777;
}

/*image design*/
.galleryImage img {
    width: 220px;
    height: auto;
}


    #container{
        display: grid;
        grid-template-areas: 'pizza_description'  ' order' ;
    }

/*image description design*/
.imageDesc {
    padding: 15px;
    text-align: center;
    height: auto;

}



/*...................................... */






/* -------- Questions for order -------- */
   

#questionOrder{
    text-align: center;
}

.QU{
    font-size: 20px;
}

.AN_QU{
    font-size: 15px;   
}


#go_order{
     background-color: yellow;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
   
}
#container{
    display: grid;
    grid-template-areas: 'pizza_description order'  
   ;
}

#pizza_description{
    grid-area: pizza_description;
    margin: 20px;
  

}
#order{
    border: 2px #777 solid ;
    grid-area: order;
  text-align: center;
  margin: auto;
  padding: 30px;


}
@media only screen and (max-width: 600px) {
    #container{
        display: grid;
        grid-template-areas: 'pizza_description'  ' order'
      
       ;
    }
}

.Details{
    font-size: 20px;
    font-weight: bold;
}

/*...................................... */

