<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/pizzaCSS.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>About Us</title>

</head>

<body>
  <div class="headerDiv">
    <header>
      <a href="../templates/home.html">Home</a>
      <a href="../templates/about_us.html">About Us</a>
      <a href="../templates/gallery.html">Gallery</a>
      <a href="../templates/my_account.html">My Account</a>
      <a href="../templates/contact_us.html">Contact</a>
      <a href="../templates/Order_qestions.html">Order</a>
      <a href="../templates/sign up.html">Sign Up</a>
      <a href="../templates/log in.html">Log In</a>
    </header>
  </div>
  <div class="greeting-image">
    <div class="logo__container">
      <img class="headerImg" src="../static/logo_transparent.png" alt="Logo">
    </div>
  </div>
  <div id="aboutDiv">
    <h1 class="about__us__title">About Us</h1>

    <div class="grid-container">
      <div class="grid-item">
        <h1 class="grid-item-header">Reviews</h1>
        <p class="grid-item-content">
          Benet- "WOW the best pizza I've had in a long time, and the servise was amazing. you are the best pizzaIQ"
          <br>Gantz- "listen to me, the idea of the funny and random questions and the surprise elemt is hysterical!!!""
          <br>Yonit Levi- "the questions made our night to be so so funny, I couldn't stop laughing. and the quality of
          the food is like 5 stars resturant"
          <br>Haim Cohen- "I wish I could cook like you guys cook. the pizza is out of this world!"
        </p>
      </div>
      <div class="grid-item">
        <h1 class="grid-item-header">Our Story</h1>
        <p class="grid-item-content"> There’s nothing cookie-cutter about PizzaIQ. Not our pizzas. Not our people. And
          definitely not the way we live life. Around here, we don’t settle for anything less than food we’re proud to
          serve and funny questions to make your day. And we don’t just clock in. Not when we can also become our best,
          make friends, and have fun while we’re at it. We’re the pizza company that lives life unboxed.</p>
      </div>
      <div class="grid-item">
        <img class="mapImg" src="../static/tempMap.png" alt="map">
      </div>
      <div class="grid-item">
        <h1 class="grid-item-header">Opening Hours</h1>
        <p class="grid-item-hours">Sunday-Friday: 8:00-23:00<br>
          Saturday: 6:00-00:00
        </p>
      </div>
    </div>
    <div class="teamContainer">
      <h2 class="grid-item-header">Our Team</h2>
      <p class="grid-item-content">We Have The Best People</p>
      <div class="team">
        <div class="card">
          <div>
            <img class="teamImg"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9iJ9MAq2o5bbUyVZnVwDW1COzprEfXwjH1g&usqp=CAU">
          </div>
          <h4>Orr</h4>
          <span>Head Pizza Woman</span>
          <p>She is undoubtedly the admin of the whatsapp group.</p>
        </div>
        <div class="card">
          <div>
            <img class="teamImg"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyhclQmrtDP4xViHmP_m4GOWTUFzDxYdhQmw&usqp=CAU">
          </div>
          <h4>Peleg</h4>
          <span>Head Of International Pizza Decisions</span>
          <p>Makes pizza decisions that no other person on the planet can.</p>
        </div>
        <div class="card">
          <div>
            <img class="teamImg"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8CDaNW7GYa8EdRcOUeKW2k7rL5wupu3WkwA&usqp=CAU">
          </div>
          <h4>Hila</h4>
          <span>Head Pizza Master</span>
          <p>Just found out tofu is real and edible so that's cool.</p>
        </div>
        <div class="card">
          <div>
            <img class="teamImg"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXnKngXrUmrwBCBwlcPAfqwmlHQazcEjLaQQ&usqp=CAU">
          </div>
          <h4>Idan</h4>
          <span>Alive</span>
          <p>Is here just in case someone get's put in jail.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <footer>
    <h4>
        CHECK OUT OUR SOCIALS
    </h4>
    <ul class="socials">
        <li><a href="https://www.youtube.com/watch?v=BBJa32lCaaY"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.youtube.com/watch?v=BBJa32lCaaY"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.youtube.com/watch?v=BBJa32lCaaY"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="https://www.youtube.com/watch?v=BBJa32lCaaY"><i class="fa fa-youtube"></i></a></li>
        <li><a href="https://www.youtube.com/watch?v=BBJa32lCaaY"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
</footer>
  <script src="../static/pizzaJS.js"></script>
  <script src="../static/2pizzaJS.js"></script>
</body>

</html>