<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/pizzaCSS.css">
    <title>FAQs</title>
</head>
<body>
    <div class="headerDiv">
        <header>
            <a href="../templates/home.html">Home</a>
            <a href="../templates/about_us.html">About Us</a>
            <a href="../templates/gallery.html">Gallery</a>
            <a href="../templates/my_account.html">My Account</a>
            <a href="../templates/contact_us.html">Contact</a>
            <a href="../templates/Order_qestions.html">Order</a>
            <a href="../templates/sign up.html">Sign Up</a>
            <a href="../templates/log in.html">Log In</a>
        </header>
    </div>
    <div class="greeting-image">
        <div class="logo__container">
            <img class="headerImg" src="../static/logo_transparent.png" alt="Logo">
        </div>
    </div>
    <div id="FAQsPage">
    <section>
        <h1 id="FAQtitle">FAQs</h1>
        <div class="faqs">
            <details>
                <summary>Why PizzaIQ is so unique?</summary>
                <p>At PizzaIQ we choose for you! Based on our super smart and edgie algoritm we ask you some random questions and we are choosing the best fit for you. Basicly we save you a lot of time and headache in choosing what to order, plus we have a weekly changing menu with only special pizzas.</p>
            </details>
            <details>
                <summary>What is the return policy?</summary>
                <p>We don't do returns, it's pizza, man!</p>
            </details>
            <details>
                <summary>Where are you located?</summary>
                <p>Our address is on bla bla bla, corner of bla bla bla.</p>
            </details>
            <details>
                <summary>Do you have vegan pizzas?</summary>
                <p>Of course! just let us know and we will make the necessary adjustments.</p>
            </details>
            <details>
                <summary>What is our dream?</summary>
                <p>World peace</p>
            </details>
            <div id="contactInfo">
                <div>Your question isn't here? do not hesitate to contact us</div>
                <div>Our Email: pizzaIQ4U@gmail.com</div>
                <div>Our phone number: +972-3-9123456</div>
            </div>
            
        </div>
    </section>
    </div>
    <footer>
        <h4>
            This is a footer
        </h4>
    
    </footer> 
    <script src="../static/pizzaJS.js"></script>
    <script src="../static/2pizzaJS.js"></script>
</body>
</html>