<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/pizzaCSS.css">
    <title>Document</title>
</head>

<body>

    <!-- Nav bar -->
    <header>
        <a href="../templates/home.html">Home</a>
        <a href="../templates/about_us.html">About Us</a>
        <a href="../templates/gallery.html">Gallery</a>
        <a href="../templates/my_account.html">My Account</a>
        <a href="../templates/contact_us.html">Contact</a>
        <a href="../templates/order.html">Order</a>
    </header>

    <!-- Gallery -->
    <div id="galleryDiv">
        <h1>Gallery</h1><br><br>

        <div class="galleryImage">
            <a target="_blank" href="../static/pizza1.png">
                <img src="../static/pizza1.png" alt="pizza1">
            </a>
            <div class="imageDesc">Corn, tomato, bell pepper and olive pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="../static/pizza2.jpg">
                <img src="../static/pizza2.jpg" alt="pizza2">
            </a>
            <div class="imageDesc">Spinach, pineapple, onlion and bell pepper pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="../static/pizza3.jpg">
                <img src="../static/pizza3.jpg" alt="pizza3">
            </a>            
            <div class="imageDesc">Feta cheese, mashroom, ham and tomato pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="../static/pizza4.jpg">
                <img src="../static/pizza4.jpg" alt="pizza4">
            </a>
            <div class="imageDesc">Classic pepperoni and tomato pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="../static/pizza5.jpg">
                <img src="../static/pizza5.jpg" alt="pizza5">
            </a>            
            <div class="imageDesc">Sweet s'mores pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="../static/pizza6.jpg">
                <img src="../static/pizza6.jpg" alt="pizza6">
            </a>            
            <div class="imageDesc">Pineapple and ham pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="../static/pizza7.jpg">
                <img src="../static/pizza7.jpg" alt="pizza7">
            </a>            
            <div class="imageDesc">Guacamole, jalapeno and mozzarella pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="../static/pizza8.jpg">
                <img src="../static/pizza8.jpg" alt="pizza8">
            </a>            
            <div class="imageDesc">Onion and tomato pizza</div>
        </div>

    </div>








    </div>




</body>

</html>