<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/pizzaCSS.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Gallery</title>
</head>

<body>

    <!-- Nav bar -->
    <div class="headerDiv">
        <header>
            <a href="../templates/home.html">Home</a>
            <a href="../templates/about_us.html">About Us</a>
            <a href="../templates/gallery.html">Gallery</a>
            <a href="../templates/my_account.html">My Account</a>
            <a href="../templates/contact_us.html">Contact</a>
            <a href="../templates/Order_qestions.html">Order</a>
            <a href="../templates/sign up.html">Sign Up</a>
            <a href="../templates/log in.html">Log In</a>
        </header>
    </div>
    <div class="greeting-image">
        <div class="logo__container">
            <img class="headerImg" src="../static/logo_transparent.png" alt="Logo">
        </div>
    </div>

    <!-- Gallery -->
    <div id="galleryDiv">
        <h1>Gallery</h1><br><br>

        <div class="galleryImage">
            <a target="_blank" href="../static/pizza1.png">
                <img src="../static/pizza1.png" alt="pizza1">
            </a>
            <div class="imageDesc">Corn, tomato, bell pepper and olive pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="../static/pizza2.jpg">
                <img src="../static/pizza2.jpg" alt="pizza2">
            </a>
            <div class="imageDesc">Spinach, pineapple and bell pepper pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="../static/pizza3.jpg">
                <img src="../static/pizza3.jpg" alt="pizza3">
            </a>
            <div class="imageDesc">Feta cheese, mashroom and tomato pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="../static/pizza4.jpg">
                <img src="../static/pizza4.jpg" alt="pizza4">
            </a>
            <div class="imageDesc">Classic pepperoni and tomato pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="../static/pizza5.jpg">
                <img src="../static/pizza5.jpg" alt="pizza5">
            </a>
            <div class="imageDesc">Sweet s'mores pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="../static/pizza6.jpg">
                <img src="../static/pizza6.jpg" alt="pizza6">
            </a>
            <div class="imageDesc">Pineapple and ham pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="../static/pizza7.jpg">
                <img src="../static/pizza7.jpg" alt="pizza7">
            </a>
            <div class="imageDesc">Guacamole, jalapeno and mozzarella pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="../static/pizza8.jpg">
                <img src="../static/pizza8.jpg" alt="pizza8">
            </a>
            <div class="imageDesc">Onion and tomato pizza</div>
        </div>
    </div>
    </div>
    <footer>
        <h4>
            CHECK OUT OUR SOCIALS
        </h4>
        <ul class="socials">
            <li><a href="https://www.youtube.com/watch?v=BBJa32lCaaY"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.youtube.com/watch?v=BBJa32lCaaY"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/watch?v=BBJa32lCaaY"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://www.youtube.com/watch?v=BBJa32lCaaY"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://www.youtube.com/watch?v=BBJa32lCaaY"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </footer>
    <script src="../static/pizzaJS.js"></script>
    <script src="../static/2pizzaJS.js"></script>
</body>

</html>