<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/pizzaCSS.css">
    <title>Home</title>
</head>

<body>
    <div class="headerDiv">
        <header>
            <a href="../templates/home.html">Home</a>
            <a href="../templates/about_us.html">About Us</a>
            <a href="../templates/gallery.html">Gallery</a>
            <a href="../templates/my_account.html">My Account</a>
            <a href="../templates/contact_us.html">Contact</a>
            <a href="../templates/Order_qestions.html">Order</a>
            <a href="../templates/sign up.html">Sign Up</a>
            <a href="../templates/log in.html">Log In</a>
        </header>
    </div>
    <div class="greeting-image">
        <div class="logo__container">
            <img class="homeHeaderImg" src="../static/logo_transparent.png" alt="Logo">
        </div>
    </div>
    <div id="homeDiv">
        <h1 class="home-page__title">we have the answers for you, we have the pizza for you</h1>
        <h2 class="home-page__announcements">Special announcments</h2>
        <div class="home-page__container">
            <p class="home-page__paragraph">
                How hard is it to choose what to eat? how much time does it take? don't you always scared that you'll order something that is not to your taste? 
               <br>Here at PizzaIQ we are doing the hard work for you! no need to over think it,just answer some random questions and we will match you the pizza of your dreams.
               <br>We know, asking you which month you like might not be relevant to which pizza suits you. but hi it works and we have 95% of successes.Also we have a big team of scientists behind us to help us help you.
               <br>Every week we are using different random questions and by that we are increasing the quality of our matches.
               <br>Are you still here?! it's so simple! just click in and answer a few questions. it's that easy.
               <br>Oh Hi, many benefits are waiting for our friends! don't assitat to sign up :)
            </p>

        </div>
        <div class="home__order__btn">
            <button id="homeOrderBtn" class="button">ORDER NOW</button>
        </div>
    </div>


    </div>
    <footer>
        <h4>
            This is a footer
        </h4>
    
    </footer>
    <script src="../static/pizzaJS.js"></script>
    <script src="../static/2pizzaJS.js"></script>
</body>

</html>