<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/pizzaCSS.css">
    <title>Document</title>
</head>

<body>
    <div class="headerDiv">
        <header>
            <a href="../templates/home.html">Home</a>
            <a href="../templates/about_us.html">About Us</a>
            <a href="../templates/gallery.html">Gallery</a>
            <a href="../templates/my_account.html">My Account</a>
            <a href="../templates/contact_us.html">Contact</a>
            <a href="../templates/Order_qestions.html">Order</a>
            <a href="../templates/sign up.html">Sign Up</a>
            <a href="../templates/log in.html">Log In</a>
        </header>
    </div>
    <div class="greeting-image">
        <div class="logo__container">
            <img class="homeHeaderImg" src="../static/logo_transparent.png" alt="Logo">
        </div>
    </div>
    <div id="homeDiv">
        <h1 class="home-page__title">SLOGAN</h1>
        <h2 class="home-page__announcements">Special announcments</h2>
        <div class="home-page__container">
            <p class="home-page__paragraph">this is where we will have stuff like special announcments and stuf Lorem
                ipsum dolor sit amet consectetur adipisicing elit. In architecto dicta placeat neque vero unde adipisci
                excepturi
                iste corporis, nemo nam amet voluptates quia eos assumenda atque inventore officia dignissimos.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, repudiandae! Fugit laboriosam alias
                minima. Quibusdam minima, pariatur ad exercitationem labore, accusamus adipisci iure asperiores esse non
                temporibus at molestiae reprehenderit?
            </p>

        </div>
        <div class="home__order__btn">
            <button id="homeOrderBtn" class="button">ORDER NOW</button>
        </div>
    </div>


    </div>
    <footer>
        <h4>
            This is a mutherfucking footer
        </h4>
    
    </footer>
    <script src="../static/pizzaJS.js"></script>
    <script src="../static/2pizzaJS.js"></script>
</body>

</html>