<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/pizzaCSS.css">
    <title>My Account</title>
</head>
<body>
    <div class="headerDiv">
        <header>
            <a href="../templates/home.html">Home</a>
            <a href="../templates/about_us.html">About Us</a>
            <a href="../templates/gallery.html">Gallery</a>
            <a href="../templates/my_account.html">My Account</a>
            <a href="../templates/contact_us.html">Contact</a>
            <a href="../templates/Order_qestions.html">Order</a>
            <a href="../templates/sign up.html">Sign Up</a>
            <a href="../templates/log in.html">Log In</a>
        </header>
    </div>
    <div class="greeting-image">
        <div class="logo__container">
            <img class="headerImg" src="../static/logo_transparent.png" alt="Logo">
        </div>
    </div>

   
    
<div id="personalZonePage">

    <div class="circleBase">
        <div id="points"> 10 </div>
        <div id="pointsText">points</div>
    </div>

    <h1 id="welcomeZone">Hi Shula, welcome to your pizza zone!</h1>

    <div class="circleBase">
        <div id="birthday"> 38</div>
        <div id="birthdayText"> days until BD pizza</div> 
    </div>
<div id="historyBox">
    <h2 id="history">
    your pizza history:
    </h2>
    <div id= "noHistory"> whoopsie, it seems like you didn't make any order yet.. it's always a good time for a pizza!</div>
</div>


</div>
<footer>
    <h4>
        This is a footer
    </h4>

</footer> 
<script src="../static/pizzaJS.js"></script>
<script src="../static/2pizzaJS.js"></script>
</body>
</html>