<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/pizzaCSS.css">


</head>

<body>

    <div class="headerDiv">
        <header>
            <a href="../templates/home.html">Home</a>
            <a href="../templates/about_us.html">About Us</a>
            <a href="../templates/gallery.html">Gallery</a>
            <a href="../templates/my_account.html">My Account</a>
            <a href="../templates/contact_us.html">Contact</a>
            <a href="../templates/order.html">Order</a>
            <a href="../templates/sign up.html">Sign Up</a>
            <a href="../templates/log in.html">Log In</a>
        </header>
    </div>
    <div class="greeting-image">
        <div class="logo__container">
            <img class="headerImg" src="../static/logo_transparent.png" alt="Logo">
        </div>
    </div>
    <br><br>
    <div id="container">
        <div id="order">
            <p  class="Details">amount of pizzas</p>
            <input id="num_pizza" type="number" name="num" min="0" max="10">
           <p  class="Details"> delivery fairs  </p>
            <p id="price_delivery">20</p>
            <button onclick="calPrice()">calculation</button>
            <p class="Details" >total price</p>
            <p id="total_price"></p>

        </div>

        <div id="pizza_description">
            <button id="step1" onclick="discription()">step1 to my pizza</button>
           <div id="a"></div>
            <p class="Details">the pizza for you is: </p>

          <p id="pic">

          </p>

            <p id="pizzaChosen"></p>
            <p class="Details">description</p>
            <p id="descriptionPizza"> </p>
            <p class="Details">price:</p>
            <p id="pizza_price"></p>

        </div>


    </div>





    <script src="../static/pizzaJS.js"></script>
    <script src="../static/2pizzaJS.js"></script>
</body>

</html>