{% extends 'base.html' %}
{% set title='FAQs' %}
{% block title %}{{ title }} Page {% endblock %}
{% set page = 'FAQs' %}

{% block content %}
    <div id="FAQsPage">
        <section>
            <h1 id="FAQtitle">FAQs</h1>
            <div class="faqs">
                <details>
                    <summary>Why PizzaIQ is so unique?</summary>
                    <p>At PizzaIQ we choose for you! Based on our super smart and edgie algoritm we ask you some random
                        questions and we are choosing the best fit for you. Basicly we save you a lot of time and
                        headache in choosing what to order, plus we have a weekly changing menu with only special
                        pizzas.</p>
                </details>
                <details>
                    <summary>What is the return policy?</summary>
                    <p>We don't do returns, it's pizza, man!</p>
                </details>
                <details>
                    <summary>Where are you located?</summary>
                    <p>Our address is on bla bla bla, corner of bla bla bla.</p>
                </details>
                <details>
                    <summary>Do you have vegan pizzas?</summary>
                    <p>Of course! just let us know and we will make the necessary adjustments.</p>
                </details>
                <details>
                    <summary>What is our dream?</summary>
                    <p>World peace</p>
                </details>
                <div id="contactInfo">
                    <div>Your question isn't here? do not hesitate to contact us</div>
                    <div>Our Email: pizzaIQ4U@gmail.com</div>
                    <div>Our phone number: +972-3-9123456</div>
                </div>

            </div>
        </section>
    </div>
      {% endblock %}